@using Radzen.Blazor

<RadzenChart>
    <RadzenDonutSeries Data="@_data" CategoryProperty="Quarter" ValueProperty="Value">
        <TitleTemplate>
            <div class="rz-donut-content">
                <div>Drive</div>
                <div>memory</div>
            </div>
        </TitleTemplate>
    </RadzenDonutSeries>
</RadzenChart>


@code {

    [Parameter]
    public long Used { get; set; }

    [Parameter]
    public long Free { get; set; }
    
    class DataItem
    {
        public string Quarter { get; set; }
        public double Value { get; set; }
    }

    DataItem[] _data;

    protected override void OnInitialized()
    {
        _data = new DataItem[]
        {
            new DataItem
            {
                Quarter = "Used",
                Value = Used
            },
            new DataItem
            {
                Quarter = "Free",
                Value = Free
            },
        };
        
        base.OnInitialized();
    }

}