@page "/asset-list"
@layout MainLayout
@inherits MisterM.Pages.AssetListComponent

@using Radzen
@using Radzen.Blazor
@using MisterM.Models.MsMisterM
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H3" style="height: 52px">
    </RadzenHeading>
    <RadzenHeading Size="H1" style="height: 68px" Text="All assets">
    </RadzenHeading>
    <div class="col-md-12">
    </div>
  </ChildContent>
</RadzenContent>
